.content{
	width: 900px;
	margin: 0 auto;

}
.wrench{
	display: inline-block;
	margin-top: 270px;
	position: relative;
	width: 350px;
	height: 50px;
	background: radial-gradient(circle at 10%, transparent 4%, grey 4%);
	border-radius: 35px 0 0 35px;
	transform: rotate(-45deg);
}
.wrench:after{
	position: absolute;
	content: "";
	display: inline-block;
	width: 115px;
	height: 115px;
	background-color: transparent;
	left: 100%;
	top:50%;
	transform: translate(0,-50%);
	border: 40px solid grey;
	border-right: none;
	border-radius: 60% 45% 45% 60%/ 40% 22% 22% 40%;
}


.nut{
	transform: rotate(-45deg);
	top:-185px;
	left:0;
	display: inline-block;
	position: relative;
	width: 60px;
	height: 100px;
	background:radial-gradient(circle, transparent 50%, grey 50%);
}
.nut:before{
	position: absolute;
	right: 100%;
	content: "";
	width: 0;
	height: 0;
	border-right: 35px grey solid;
	border-top: 50px transparent solid;
	border-bottom: 50px transparent solid;
}
.nut:after{
	position: absolute;
	left: 100%;
	content: "";
	width: 0;
	height: 0;
	border-left: 35px grey solid;
	border-top: 50px transparent solid;
	border-bottom: 50px transparent solid;
}

.screw{
	border-radius: 10px 0 0 10px;
	position: relative;
	display: inline-block;
	width: 200px;
	height: 50px;
	background:linear-gradient(-100deg, grey 35%, darkgrey 35% 40%, grey 40% 50%, darkgrey 50% 55%, grey 55% 65%, darkgrey 65% 70%, grey 70% 80%, darkgrey 80% 85%, grey 85%);

}
.screw:before{
	position: absolute;
	content: "";
	display: inline-block;
	background-color: grey;
	width: 50px;
	height: 50px;
	left: 80%;
	bottom: 60%;
	border-top-right-radius: 85%;
}
.screw:after{
	position: absolute;
	content: "";
	display: inline-block;
	background-color: grey;
	width: 50px;
	height: 50px;
	left: 80%;
	top: 60%;
	border-bottom-right-radius: 85%;
}

.boat{
	margin: 800px auto;
	width: 600px;
	height: 80px;
	background: radial-gradient(circle, transparent 30%, grey 30%) repeat 0 0/ 140px 100%;
	position: relative;
}
.boat:before{
	position: absolute;
	content: "";
	width: 0;
	border-top: 90px solid transparent;
	border-right: 100px solid grey;
	border-bottom: 90px solid transparent;
	right: 100%;
	bottom: 0;
}
.boat:after{
	display: inline-block;
	transform: rotate(-45deg);
	width: 150px;
	height: 80px;
	background-color: grey;
	content: "";
	bottom: 42;
	left: 91.7%;
	position: absolute;
}
.mast{
	left: 50%;
	bottom: 100%;
	position: absolute;
	width: 20px;
	height: 550px;
	background-color: grey;
}
.mast:before{
	content: "";
	position: absolute;
	height: 550px;
	width:300px;
	transform: translate(-50%, 0);
	border-radius: 50% 0 0 50%/ 50% 0 0 50%;
	background-color: transparent;
	border-left: 100px solid grey;
}
.mast:after{
	left: 100%;
	content: "";
	position: absolute;
	width: 0;
	border-left:100px grey solid;
	border-top: 40px grey solid;
	border-bottom: 40px grey solid;
	border-right: 40px transparent solid;
}



textarea{
	height: 20px;
	resize: none;
	width: 300px;

	overflow: visible;
}
textarea:focus{
	height: 200px;
}
#checkbox{
	display: none;
}
label{
	cursor: pointer;
}
input[type="checkbox"]+label{
	vertical-align: top;
	display: inline-block;
	position: relative;
	margin: 0 40px 0 40px;
	padding-right: 30px;
}
input[type="checkbox"]+label:after{

	transition: .3s;
	content: "";
	position:absolute;
	width: 50px;
	height: 25px;
	border-radius: 20px;
	background-color: #d9d9d9;

}
input[type="checkbox"]:checked+label:after{
	background-color: orange;

}
input[type="checkbox"]+label:before{
	top:1px;
	right:6px;
	transition: .3s;
	content: "";
	position:absolute;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: white;
	z-index: 100;
}
input[type="checkbox"]:checked+label:before{
	right: -19px;
}

.commentLabel{
	vertical-align: top;
}
#select{
	margin: 0 20px;
	appearance:none;
	padding-right: 10px;
	position: relative;
	background: url(../Images/power.png) no-repeat 97%;
	background-size: 20px;
}
form{
	margin-bottom: 100px;
}









