	.heading{
	font-weight: 800;
}
body{
	background: url(../Images/mountains_peaks_snowy_129033_3840x2400.jpg) fixed center/cover;
	margin: 0;
	padding: 0;
}

		div div div{
		margin-bottom: 100px;
}
		
		.history{
	max-height: 400px;
	overflow:scroll;
	margin-top: 100px;
	
}
		.wrapper{

	width: 800px;
	margin: 0 auto;
	font-size: 1.3em;	
	background-color: rgba(266,266,266, .6);
	padding: 0 50px;
	padding-bottom: 1px;
}
		.secondPage{
	padding: 50px 50px;
}
		.firstWrap{
			padding: 0 50px 50px 50px;
}



		h1{
	text-align: center;
}

		a{
	color: black;
	text-decoration: none;
	background-color: rgba(218, 218, 218, .6);

	padding: 5px 15px;
	border-radius: 10px;
	margin: 10px;
}

		a:hover{
	color: white;
	background-color: #767676;
	padding: 7px 18px;
	transition: ease 0.3s;	
}
.container{
	width: 800px;
	text-align: center;
	display: inline-block;
	background-color: red;
	
}
.image{
	margin: 0 auto;
	display: block;
	width: 900px;
}

.sideBar{
	z-index: 100;
	position: fixed;
	background-color: rgb(219, 161, 138, 0.5);
	top: 50%;
	margin-top: -125px;
	border-radius: 10px;
	
}
.sideBar p{
	margin: 15px 0;
}


.hardBoardImg{
	position: relative;
	display: inline-block;
	margin-left: -450px;
	left: 50%;
}

.freestyle{
	position: relative;
	display: inline-block;
	margin-left: -450px;
	left: 50%;
}
.freeride{
	position: relative;
	display: inline-block;
	margin-left: -450px;
	left: 50%;
}

.upperText1{
	position: absolute;
	z-index: 5;
	top: 50%;
	right: 0;
	left:0;
	background-color: rgba(255,255,255, 0.5);
}
.pUpperText{
	text-align: center;
	font-weight: bold;
	font-size: 2.0em;
}

.navbar{
	margin-bottom: 100px;
}

.List{
	position: relative;
	z-index: 100;
	margin: 0;
	display: flex;
	list-style-type: none;
	justify-content: center;
	font-size: 1.3em;
	font-weight: bold;

}

div ul li a{
	background-color: none;
	text-decoration: none;
	border-radius: 0px;
	padding: 0px ;
	margin: 0px;
	background-color: rgba(218, 218, 218);
	display: block;
	padding: 0 50px;
	white-space:pre;
}

div ul li a:hover{
	color: black;
	background-color: white;
	padding: 0px;
	background-color: rgba(218, 218, 218);
	padding: 0 50px;
}

.List li{
	
	background-color: rgba(218, 218, 218);
	margin-right: 3px;
	position: relative;

}
.pageList{
	padding: 0 50px;
}
.listText{
	position: relative;
}
.listText:after{
	content: "";
	width:27px;
	height: 15px;
	background: url(../Images/SPRITE/iconSprite.png) -139px -6px;
	position: absolute;
	left: 100%;
	top: 30%;
}
.pageList:hover .listText:after{
	content: "";
	background: url(../Images/SPRITE/iconSprite.png) -108px -6px;
}


.innerPageList{
	top: -70px;
	position: absolute;
	list-style-type: none;
	left:0;
	right: 0;
	padding-left: 0px;
	padding-top: 3px;
	transition: .3s ease;
	z-index: -1;
}

.pageList:hover .innerPageList{
	top: 100%;
}


.innerPageList2{
	opacity: 0;
	position: absolute;
	list-style-type: none;
	padding-left: 0px;
	top:0;
	right: 100%;
	transition: .3s ease;
}
.base:hover .innerPageList2{
opacity: 1;
}

.base{
	padding: 0 50px;
}
.listText2{
	position: relative;
}
.listText2:before{
	content: "";
	width:15px;
	height: 20px;
	background: url(../Images/SPRITE/iconSprite.png) -2px -3px;
	position: absolute;
	right: 110%;
	top: 20%;
}
.base:hover .listText2:before{
	content: "";
	background: url(../Images/SPRITE/iconSprite.png) -90px -3px;
	position: absolute;
}

.home{
	position: relative;
	display: block;
	padding-left: 70px;
	padding-right: 30px;
}
.home:hover{
	padding-left: 70px;
	padding-right: 30px;
}
.home:before{
	content: "";
	width:27px;
	height: 27px;
	background: url(../Images/SPRITE/iconSprite.png)-61px 1px;
	position: absolute;
	right: 65%;
	top: 0;
}
.secondPageIcon{
	padding-left: 70px;
	padding-right: 30px;
}
.secondPageIcon:hover{
	padding-left: 70px;
	padding-right: 30px;
}
.secondPageIcon:before{
	content: "";
	width:27px;
	height: 27px;
	background: url(../Images/SPRITE/iconSprite.png) -22px -1px;
	position: absolute;
	right: 75%;
	top: 2px;
}

.linkBar{
	margin-top: 750px;
	display: flex;
	justify-content: space-around;
}
.sprite{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	}


.sprite li a{
	display: block;
	padding: 0;
	margin: 0;

}
.sprite li a:hover{
	padding: 0;
	margin: 0;
	background-color: rgba(0,0,0,0);
}

.fourF{
	width: 177px; height: 90px;
	background: url(../Images/SPRITE/finalSprite.png);
}
.burton{
	background: url(../Images/SPRITE/finalSprite.png) -184px 0px;
	 width: 78px; height: 90px;
}
.salomon{
	 background: url(../Images/SPRITE/finalSprite.png) -270px 0px;
	 width: 146px; height: 90px;
}
.jonessnowboards{
	background: url(../Images/SPRITE/finalSprite.png)  -422px 0px;
	width: 99px; height: 90px;
}

.hoverMe{
right: -240px;
position: fixed;
top:20%;
transform: rotate(-90deg);
transition: right .4s ease;
background-color: rgba(266,266,266, .6);
width: 225px;

}
.hoverMe:hover{
right: 0;
}
.innerHover1{
	border: 1px black solid;
}
.innerHover2{
	height: 300px;
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	border-right: 1px black solid;
	position: relative;
}
.pInnerHover{
	text-align: center;
	font-size: 1.5em;
}
.HoverIcons{
	list-style-type: none;
	margin: 0;
}

.HoverIcons li a{
	position: relative;
	background-color: rgba(0,0,0,0);
	padding: 0;
	height: 50px;
	width: 50px;
	transform: rotate(135deg);
}
.HoverIcons li a:hover{
	background-color: rgba(0,0,0,0);
	padding: 0;
	margin:0;
	height: 50px;
	width: 50px;
}

.linkIcon1{
	background: url(../Images/SPRITE/hoverMeSprite.png) -2px -2px;
}
.linkIcon2{
	background: url(../Images/SPRITE/hoverMeSprite.png) -55px -2px;
}
.linkIcon3{
	background: url(../Images/SPRITE/hoverMeSprite.png) -110px -2px;

}
.linkIcon4{
	background: url(../Images/SPRITE/hoverMeSprite.png) -165px -2px;
}

.HoverIcons li{
	display: inline-block;
	position: relative;
}
.icon1{
	top:102px;
	left: 69px;
}
.icon2{
	top:100px;
	left: -57px;
}
.icon3{
	top:138px;
	left: -75px;
}
.icon4{
	top:10px;
	left: 34px;
}















